{% extends "gestion_usuarios/base.html" %}



{% block content %}

        <strong class="card-title"> Ingresa tus datos:</strong>
 
        <form method="POST"> {% csrf_token %} 
            {{form.as_p}}
                <a href="{% url 'inicio' %}" class="btn-btn-danger">
                    Cancelar 
                </button>
                
                <button type="submit" class="btn-btn-success">
                    Iniciar sesion
                </button>

        </form>


{% endblock %}
